* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------BARRA DE NAVEGACION--------------- */
.navbar {
    background-color: #5B7AE9;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar img {
    width: 10%;
}

.navbar i {
    font-size: 50px;
}

.navbar div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar form {
    display: flex;
    width: 40%;
}

.navbar form input {
    width: 80%;
    height: 30px;
}

.navbar form button {
    width: 20%;
    height: 30px;
}

/* ------------------SECCION FILTROS---------------- */

aside {
    background-color: #D9D9D9;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.formulario {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.formulario button {
    align-self: center;
    margin: 5px;
    cursor: pointer;
}

/* -----------SECCION PRODUCTOS--------- */

.contenedor-productos {
    display: flex;

}

main {
    width: 70%;
    position: relative;
    overflow: hidden;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: solid black 2px;
    background-color: wheat;
}

/* --------------SECCION CARRITO-------------- */

.carrito {
    padding: 50px;
    width: 100%;
    background-color: #4e69ce;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    left: 5000px;
    transition: 1s linear;
    
}

.moverCarrito {
    left: 0;
}

.carritoCard {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: solid black 2px;
    background-color: chartreuse;
}

.activeBtnFinalizarCompra {
    display: none;
}

.logoCarrito {
    cursor: pointer;
}

.disableEtiqueta {
    display: none;
}






/* SECCION FORMULARIO DE FINALIZAR COMPRA */

.finalizar-compra {
    background-color: #8397e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.finalizar-compra form {
    display: flex;
    flex-direction: column;
}

.finalizar-compra form label {
    align-self: center;
}

.finalizar-compra form h4 {
    align-self: center;
}


/* SECCION COMPRA REALIZADA */

.compra-realizada {
    height: 100vh;
    background-color: #8397e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.compra-realizada h3 {
    font-size: 40px;
}

.compra-realizada p {
    font-size: 20px;
}

.compra-realizada a {
    background-color: #4e69ce;
    padding: 20px;
    border: #fff solid;
    text-decoration: none;
    color: #fff;
    margin: 20px;
    font-size: 30px;
    cursor: pointer;
}

.compra-realizada a:hover {
    background-color: #fff;
    color: #4e69ce;
    border: #4e69ce solid;
}

/* SECCION ERROR DE VALIDACION DE FORMULARIO */
.aviso-error {
    color: #d11515;
}

.error-formulario {
    border: #d11515 solid;
    color: #d11515;
}